.card-footer{
    background-color: transparent;
    border-top: 0px;
}

.bg-nav{
   
    background-color: #b41d23;
    
}

.titulo{
    color: #fbd4c3;
    font-family: Anton, sans-serif;
    text-transform: uppercase;
}

.titulo:hover{
    color: #fbd4c3;
}

