.card-footer{
    background-color: transparent;
    border-top: 0px;
}


.titulo{
    color: #fbd4c3;
    font-family: Anton, sans-serif;
    text-transform: uppercase;
}

.titulo:hover{
    color: #fbd4c3;
}

