$color-primario:#b41d23;

.header{
    background-color: $color-primario;
    .nav-item{
        a{
            &:hover{
                color: rgb(194, 194, 194) !important;
            }
        }
    }
    

}

.container{
    .card{
        &:hover{
            transform: scale(1.05);
        }
    }

}

.footer{
    background-color: #0c0b0b;
    padding: 25px;
    a{
        text-decoration: none;
        color: white !important;

        &:hover{
            color: $color-primario !important;
        }
    }
}

