$color-primario:#b41d23;

.header{
    background-color: $color-primario;
    .nav-item{
        a{
            &:hover{
                color: rgb(194, 194, 194) !important;
            }
        }
    }
    

}

.container{
    .card{
        &:hover{
            transform: scale(1.05);
        }
    }

}

.footer{
    background-color: #0c0b0b;
    padding: 25px;
    a{
        text-decoration: none;
        color: white !important;

        &:hover{
            color: $color-primario !important;
        }
    }
}

//MIXIN

@mixin mensaje($colorTexto, $colorFondo, $tamanioTexto, $anchoMensaje) {
    color: $colorTexto;
    background-color: $colorFondo;
    font-size: $tamanioTexto;
    width: $anchoMensaje;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
}

#mensajeUsuario{
    @include mensaje($color-primario, white, 20px, 100%)

}

//EXTEND

.mensajeRecomendado{
    color: $color-primario;
    background-color: white;
    font-size: 20px;
    width: 100%;
    font-family: Ubuntu, sans-serif;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid white;
}

.mensajeContacto{
    @extend .mensajeRecomendado;
    font-weight: bold;

}